table {
  font-size: 0.90em;
}
th {
  background-color: #bfbfbf;
  text-align: center;
  vertical-align: middle;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
table th:first-of-type {
    width: 20%;
}
.bg-rdl {
  background-color: #0B3860;
  padding: 25px;
}
p {
    text-align: justify;
}