name: Run Unit Tests

# Trigger the action on push or pull request
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - dev_push
      - main

permissions:
  contents: read

jobs: 
  test:
    runs-on: ubuntu-latest

    steps:   
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up micromamba + environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: tools/code/rdl-tools.yml
          cache-environment: true
          create-args: >-
              python=3.10
          init-shell: bash
        
      - name: Run unit tests
        run: | 
            pytest
